html,
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: #e8e1fb;
}

h1 {
  font-size: 3em;
}

header {
  display: grid;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.header {
  width: 100%;
  background: #ac94f4;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background: #e8e1fb;
  /* view height */
  height: 100vh;
}

.inputContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  background: #ac94f4;
  padding: 0.7%;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 20px;
}

input {
  padding: 12px 20px;
  border-radius: 10px;
  border-color: #b388eb;
}
input[type="text" i] {
  width: 50%;
  border: none;
  border: 2px solid rgb(243, 155, 243);
  font-size: 100%;
  color: rgb(105, 103, 103);
}

.button {
  font-size: 100%;
  color: rgb(105, 103, 103);
  background-color: white;
  border: none;
  border: 2px solid rgb(243, 155, 243);
}

.button:hover {
  background-color: rgb(243, 155, 243);
  color: white;
  border: 2px solid white;
  cursor: pointer;
}

.tasksContainer {
  margin: 0 auto;
}

.tasksItem {
  display: flex;
  height: 100px;
  width: 600px;
  background: white;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 30px;
  border-style: solid;
  border-color: #b388eb;
  border-width: 2px;
  margin-top: 20px;
}

.tasksItem p {
  font-size: 30px;
  color: rgb(105, 103, 103);
  padding: 2px;
}
